
  body{
    font-family: iran;
   
  }


  
  .btn-success {
    background-color:var(--green-20); 
  }
  .dash:hover{
    background-color: var(--bhover);
  }
  
  .btn-outline-light:hover{
    background-color: var(--bhover);
    color:#f8f9fa;
  }
  .bg-nav{
    background-color: var( --black);
  }
  .bg-glight{
    color: var(--admin-text);
    font-weight: 600;
  }