
  body{
    font-family: iran;
   
  }

  .btn-active {
    background-color: var(--bhover);
    color:#f8f9fa;
  }
  
  
  .btn-success {
    background-color:var(--green-20); 
  }
  .dash:hover{
    background-color: var(--bhover);
  }
  
  .btn-outline-light:hover{
    background-color: var(--bhover);
    color:#f8f9fa;
  }
  .bg-nav{
    background-color: var( --black);
  }
  .bg-glight{
    color: var(--admin-text);
    font-weight: 600;
  }





.admin-dashboard {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}


.bg-nav {
  padding: 20px;
  overflow-y: auto; 
  z-index: 1000; 
}

/* Content area adjustments */
.content-area {
  padding: 40px;
  flex-grow: 1;
  overflow-y: auto; /* Allow main content to scroll if needed */
}

/* Responsive adjustments */
@media (min-width: 768px) {
  /* On larger screens, set the sidebar to fixed and adjust layout */
  .admin-dashboard {
    flex-direction: row; /* Switch to row layout for larger screens */
  }

  .bg-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
   
  }

  .content-area {
    margin-left: 250px; /* Offset the main content by the sidebar's width */
  }
}

/* Mobile adjustments */
@media (max-width: 767px) {
  .bg-nav {
    width: 100%;
    position: relative; 
    height: auto;
  }

  .content-area {
    margin-left: 0; 
  }
}

.btn {
  transition: background-color 0.3s ease;
}


.col-md-9 {
  animation: fadeIn 1s ease-in-out;
 
}


@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
