:root {
    --black: rgb(34, 40, 49);
    --blueGradiant: #3234A8;
    --blue: #007E85;
    --secondary: #007DD7;
    --bluelight: #0098CF;
    --green:  #00B1BA;
    --greenlight:  #0a8670;
    --green-20:#C6FCEC;
    --bhover:rgba(0, 126, 133,0.5);
    --admin-text:#007E85;
    --table-text:rgb(34, 40, 49,0.1);
   
  }
  body{
    font-family: iran;
    background-color:  rgb(34, 40, 49,0.1)
  }