@font-face {
    font-family: iran;
    src: url("../assets/iran.ttf");
  }
  :root {
    --black: #000;
    --blueGradiant: #3234A8;
    --blue: #005DCB;
    --secondary: #007DD7;
    --bluelight: #0098CF;
    --green:  #00B1BA;
    --greenlight:  #00C6A1;
    --green-20:#C6FCEC;
   
  }
.ta{
    width: 70vh;
}